<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns="http://xmlns.jcp.org/xml/ns/javaee"
   xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
   id="WebApp_ID" version="3.1">
   <display-name>webPro</display-name>
   <welcome-file-list>
      <welcome-file>index.html</welcome-file>
      <welcome-file>index.htm</welcome-file>
      <welcome-file>index.jsp</welcome-file>
      <welcome-file>default.html</welcome-file>
      <welcome-file>default.htm</welcome-file>
      <welcome-file>default.jsp</welcome-file>
   </welcome-file-list>
   
   <!-- 한글필터 -->
   <filter>
	   	<filter-name>encodingFilter</filter-name>
	    <filter-class>util.CharacterEncodingFilter</filter-class>
	
	    <init-param>
		    <param-name>encoding</param-name>
		    <param-value>UTF-8</param-value>
	    </init-param>
   </filter>
   
   <filter-mapping>
	   	<filter-name>encodingFilter</filter-name>
	    <url-pattern>/*</url-pattern>
   </filter-mapping>

   <!-- 관리자 페이지 전체 적용 -->
   <jsp-config>
      <jsp-property-group>
      	<url-pattern>/adminPage/*</url-pattern>
        <include-prelude>/common/admin.jsp</include-prelude>
      </jsp-property-group>
   
   <!-- 메인 페이지 전체 적용 -->   
      <jsp-property-group>
        <url-pattern>/view/*</url-pattern>
        <include-prelude>/header/header.jsp</include-prelude>
      </jsp-property-group>
         
      <jsp-property-group>
        <url-pattern>/user/*</url-pattern>
        <include-prelude>/header/header.jsp</include-prelude>
      </jsp-property-group>
      
      <jsp-property-group>
        <url-pattern>/view/board/*</url-pattern>
        <include-prelude>/header/header.jsp</include-prelude>
      </jsp-property-group>
   </jsp-config>

   <!-- 모델 2 -->
   <!-- 메인 페이지 properties -->
   <!-- 유저 -->
   <!-- <servlet>
      <servlet-name>userController</servlet-name>
      <servlet-class>user.controller.UserAction</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>

   <servlet-mapping>
      <servlet-name>userController</servlet-name>
      <url-pattern>/user/*</url-pattern>
   </servlet-mapping> -->
   
   <!-- 결제 -->
   <servlet>
      <servlet-name>paymentController</servlet-name>
      <servlet-class>payment.controller.PaymentAction</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>

   <servlet-mapping>
      <servlet-name>paymentController</servlet-name>
      <url-pattern>/payment/*</url-pattern>
   </servlet-mapping>

   <!-- 관리자 페이지 properties -->
   <!-- 유저 -->
   <servlet>
      <servlet-name>AdminUserController</servlet-name>
      <servlet-class>admin.controller.AdminUserAction</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>

   <servlet-mapping>
      <servlet-name>AdminUserController</servlet-name>
      <url-pattern>/admin/user/*</url-pattern>
   </servlet-mapping>
   
   <!-- 완성제품 -->
   <servlet>
      <servlet-name>AdminComputerController</servlet-name>
      <servlet-class>admin.controller.ComputerAction</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>

   <servlet-mapping>
      <servlet-name>AdminComputerController</servlet-name>
      <url-pattern>/admin/computer/*</url-pattern>
   </servlet-mapping>
   
   <!-- 제품부품 -->
   <servlet>
      <servlet-name>AdminCpuController</servlet-name>
      <servlet-class>admin.controller.CpuAction</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>

   <servlet-mapping>
      <servlet-name>AdminCpuController</servlet-name>
      <url-pattern>/admin/cpu/*</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>AdminGraphicController</servlet-name>
      <servlet-class>admin.controller.GraphicAction</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>

   <servlet-mapping>
      <servlet-name>AdminGraphicController</servlet-name>
      <url-pattern>/admin/graphic/*</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>AdminHDDController</servlet-name>
      <servlet-class>admin.controller.HDDAction</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>

   <servlet-mapping>
      <servlet-name>AdminHDDController</servlet-name>
      <url-pattern>/admin/hdd/*</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>AdminMainBoardController</servlet-name>
      <servlet-class>admin.controller.MainBoardAction</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>

   <servlet-mapping>
      <servlet-name>AdminMainBoardController</servlet-name>
      <url-pattern>/admin/mainboard/*</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>AdminPowerController</servlet-name>
      <servlet-class>admin.controller.PowerAction</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>

   <servlet-mapping>
      <servlet-name>AdminPowerController</servlet-name>
      <url-pattern>/admin/power/*</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>AdminRAMController</servlet-name>
      <servlet-class>admin.controller.RamAction</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>

   <servlet-mapping>
      <servlet-name>AdminRAMController</servlet-name>
      <url-pattern>/admin/ram/*</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>AdminSSDController</servlet-name>
      <servlet-class>admin.controller.SSDAction</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>

   <servlet-mapping>
      <servlet-name>AdminSSDController</servlet-name>
      <url-pattern>/admin/ssd/*</url-pattern>
   </servlet-mapping>

   <!-- 메인 페이지 properties -->
   <!-- Computer -->
   <servlet>
      <servlet-name>ComputerController</servlet-name>
      <servlet-class>view.controller.ComputerAction</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>

   <servlet-mapping>
      <servlet-name>ComputerController</servlet-name>
      <url-pattern>/main/computer/*</url-pattern>
   </servlet-mapping>
   
   <!-- 게시판 -->
   <servlet>
      <servlet-name>boardController</servlet-name>
      <servlet-class>board_controller.Notice_action</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>
    
   <servlet-mapping>
      <servlet-name>boardController</servlet-name>
      <url-pattern>/board_notice/*</url-pattern>
   </servlet-mapping> 
    
    
   <servlet>
      <servlet-name>boardController2</servlet-name>
      <servlet-class>board_controller.Information_action</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>
    
   <servlet-mapping>
      <servlet-name>boardController2</servlet-name>
      <url-pattern>/board_information/*</url-pattern>
   </servlet-mapping> 
          
          
   <servlet>
      <servlet-name>boardController3</servlet-name>
      <servlet-class>board_controller.Opinion_action</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>
    
   <servlet-mapping>
      <servlet-name>boardController3</servlet-name>
      <url-pattern>/board_opinion/*</url-pattern>
   </servlet-mapping> 
    
   <servlet>
      <servlet-name>boardController4</servlet-name>
      <servlet-class>board_controller.Qa_action</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>
    
   <servlet-mapping>
      <servlet-name>boardController4</servlet-name>
      <url-pattern>/board_qa/*</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
     <servlet-name>default</servlet-name>
     <url-pattern>*.js</url-pattern>
     <url-pattern>*.css</url-pattern>
     <url-pattern>*.jsg</url-pattern>
     <url-pattern>*.gif</url-pattern>
     <url-pattern>*.png</url-pattern>
     <url-pattern>*.ico</url-pattern>
     <url-pattern>*.swf</url-pattern>
  </servlet-mapping>
</web-app>