<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>webPro</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!--  관리자 페이지 전체 적용 -->
	<jsp-config>
		<jsp-property-group>
			<url-pattern>/admin/*</url-pattern>
			<include-prelude>/common/admin.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>

	<!-- 모델 2 -->
	<!-- 필터 -->
	<!-- <filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>util.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter> -->
	
	<!-- 관리자 페이지 properties -->
	<servlet>
		<servlet-name>AdminCpuController</servlet-name>
		<servlet-class>admin.controller.CpuAction</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AdminCpuController</servlet-name>
		<url-pattern>/admin/cpu/*</url-pattern>
	</servlet-mapping>
	
	<!-- 메인 페이지 properties -->
	<!-- <servlet>
		<servlet-name>UserController</servlet-name>
		<servlet-class>controller.UserController</servlet-class>
		<init-param>
			<param-name>configFile</param-name>
			<param-value>/WEB-INF/properties/main/commandMain.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MainController</servlet-name>
		<url-pattern>/main/*</url-pattern>
	</servlet-mapping> -->
	
</web-app>